# Core ML/NLP
langchain==1.0.0
langchain-community==0.4.1
langchain-huggingface==1.0.0
langchain-text-splitters>=0.3.0
#sentence-transformers==2.7.0
chromadb==1.2.1
huggingface_hub==0.23.5

# Hybrid search
rank-bm25==0.2.2

# LLM Integration
#ollama==0.1.7
httpx>=0.24.0

# Document Processing
pypdf==4.1.0
beautifulsoup4==4.12.3
requests==2.32.5
python-docx==1.1.0
PyPDF2==3.0.1

# API & Serving
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9

# Utilities
python-dotenv==1.0.1
pydantic==2.7.4
pydantic-settings>=2.10.1

# Development
pytest==8.1.1
black==24.2.0
ruff==0.3.0

#monitoring
prometheus-fastapi-instrumentator==6.1.0

#azure blob
azure-storage-blob