apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: rag-dev
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080  
    protocol: TCP
    name: http